body{
    background-image: url(./../img/cthulhu.jpg);

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
}

img{
    margin: 0;
}

#wrapper #info {

    width: 800px;
    height: auto;;
    margin: 0 auto 0 auto;
    background-color: rgba(255,255,255,0.6);
}

#wrapper #info h2 {
    width: 790px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 0 0 10px;
    color: #92e5fe;
    background-color: #28a6cc;
}

#wrapper #info div{
    width: 798px;
    border: 1px solid #408ca3;
    color: #000;
}

#wrapper #info li{
    padding-bottom: 20px;
    padding-right: 30px;
    font-style: oblique;
}

#wrapper #info div p {
    font-size: 23px;
    padding: 0 0 0 20px;
    text-decoration: underline;
}

#wrapper #page-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #030304;
}
#wrapper #page-top p {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    color: #92e5fe;
    text-align: center;
}
